<!-- form for data collection -->
<section class="pt-0 row gutter-2 justify-content-center" style="background-color:#F18E00;">
  <div class="col-md-6 pt-3 pl-2" style="display:flex; flex-direction:column; justify-content: center;">
    <div class="card card-price-2" style=" height:95vh;">
      <div class="card-body">
        <strong class="card-price">Trust & Bench</strong>
        <h4 class="card-title">Demandez votre benchmark personnalisé</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 pt-3 pr-2" style="display:flex; flex-direction:column; justify-content: center;">
    <div class="card card-price-2" style=" height:95vh;">
      <div class="card-body">
        <strong class="card-price">$49</strong>
        <h4 class="card-title">Medium Pack</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <hr class="ml-0 w-20">
        <ul class="list-group list-group-minimal">
          <li class="list-group-item"><span>Cras justo odio</span></li>
          <li class="list-group-item"><span>Dapibus ac facilisis in</span></li>
          <li class="list-group-item"><span>Morbi leo risus</span></li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-lg btn-purple btn-block">Purchase</a>
      </div>
    </div>
  </div>
</section>
